<div class="col-sm-6 col-md-3">
  <div class="thumbnail first-thumbnail">
    <a href="<%= employees_path %>" >
      <h3><b>Employees : <%= @total_employees %></b></h3>
      <!-- <hr> -->
      <h4><b>Active : <%= @active_employees %></b></h4>
    </a>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail second-thumbnail">
    <a href="<%= home_todays_stats_path(stat_type: 'attendance') %>" >
      <h3><b>Today's Logins</b></h3>
      <!-- <hr> -->
      <h2><%=@todays_logged_in_count%></h2>
    </a>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail third-thumbnail">
    <a href="<%= home_todays_stats_path(stat_type: 'late') %>" >
      <h3><b>Today's Late comers</b></h3>
      <!-- <hr> -->
      <h2 class="no-margin"><%=@todays_late_arrivals%></h2>
    </a>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail fourth-thumbnail">
    <h3><b>Today's Avg In-Time</b></h3>
    <h2 class="no-margin"><%=@todays_avg_in_time%></h2>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail fifth-thumbnail">
    <a href="<%= home_current_month_late_count_path %>" >
      <h3><b>Current Month</b></h3>
      <h3 class="no-margin">Late Count</h3>
    </a>
  </div>
</div>

