<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">XYZ</a>
    </div>
      <ul class="nav navbar-nav">
        <li class="<%= yield(:home) %>"><%= link_to 'Home', root_path %></li>
        <% if admin_signed_in? %>
          <li class="<%= yield(:employees) %>"><%= link_to 'Employees', employees_path %></li>
          <li class="<%= yield(:home) %>"><%= link_to 'Dashboard', home_dashboard_path %></li>
        <% end %>
      </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if admin_signed_in? %>
        <li><%= link_to 'Logout', destroy_admin_session_path, method: :delete, class: "glyphicon glyphicon-log-out" %></li>
      <% else %>
        <li><%= link_to 'Sign Up', new_admin_registration_path, class: "glyphicon glyphicon-admin" %></li>
        <li><%= link_to 'Login', new_admin_session_path, class: "glyphicon glyphicon-log-in" %></li>
      <% end %>
    </ul>
  </div>
</nav>
